<div class="flex-1 h-full w-full">
  <button class="btn-primary-small" (click)="launchAnalyze()">
    <span class="pi pi-chart-bar text-xl"></span>
    New Query
  </button>

  <!-- <button class="btn-primary-small" (click)="launchSavedApp()">
    Analyze 123
  </button> -->

  <!-- <div *ngIf="contextApps.length > 0">
    <h1 class="text-2xl mb-4">My Last Analysis</h1>
    <div
      class="flex gap-4 py-4 overflow-x-auto px-3 justify-start scrollbar-thin scrollbar-thumb-neutral-500 scrollbar-track-neutral-100 scrollbar-thumb-rounded-full scrollbar-track-rounded-full">
      <div
        *ngFor="let contextApp of contextApps; trackBy: trackByContextAppId"
        (click)="launchSavedApp(contextApp)"
        (keyup.enter)="launchSavedApp(contextApp)"
        class="card-last-activities">
        <span class="mb-2">{{ contextApp.name }}</span>
      </div>
    </div>
  </div> -->
</div>
