<div class="flex flex-col h-screen">
  <!-- Top Panel -->
  <div class="top-panel" role="banner">
    <button type="button" (click)="toggleSidePanel()" label="Toggle Sidebar">
      <i class="pi pi-bars"></i>
    </button>

    <p-chip styleClass="pl-0 pr-3 h-6" (click)="openSettings()">
      <span
        class="rounded-full w-6 h-6 px-1 bg-black text-white hover:bg-stone-800 text-center"
      >
        <i class="pi pi-user text-sm"></i>
      </span>
      <span class="ml-2 text-sm">
        <!-- {{ initial }} -->
        name
      </span>
    </p-chip>
  </div>

  <!-- Main Content: Sidebar + Main Panel -->
  <div class="flex flex-1 overflow-hidden">
    <!-- Sidebar -->
    <!-- TODO need to edit sidebar -->
    <app-sidebar
      *ngIf="showSidePanel"
      (openTab)="openTab($event.type)"
    ></app-sidebar>

    <!-- Main Panel -->
    <div class="flex-1 bg-white" role="main">
      <!-- <app-breadcrumb></app-breadcrumb> -->
      <div class="flex-1 h-full w-full bg-white">
        <!-- <p-tabView [activeIndex]="activeIndex()" (onClose)="onCloseTab($event)"> -->
        <p-tabView (onClose)="onCloseTab($event)">
          @for (tab of tabs; track $index) {
            <p-tabPanel>
              <ng-template pTemplate="header">
                <div class="flex gap-x-2 place-content-center">
                  <span>{{ tab.tabName }}</span>
                  @if ($index != 0) {
                    <button (click)="removeTab($index)">
                      <span class="pi pi-times hover:text-red-500"></span>
                    </button>
                  }
                </div>
              </ng-template>
              <ndc-dynamic
                [ndcDynamicComponent]="tab!.selector"
                [ndcDynamicInputs]="tab!.inputs"
                [ndcDynamicOutputs]="tab!.outputs"
              >
              </ndc-dynamic>
            </p-tabPanel>
          }
        </p-tabView>
      </div>
    </div>
  </div>
  <!-- <footer
  class="h-12 overflow-hidden bg-skin-inverted border-t border-t-gray-400 flex items-center place-content-end gap-x-3 px-2">
  <button class="hover:text-orange-400">SPEECH</button>
  <button class="hover:text-orange-400">LIVE</button>
  <button
    class="rounded-full w-6 bg-skin-sidebar text-center text-white hover:bg-orange-400"
    (click)="openSettings()">
    {{ initial }}
  </button>
</footer> -->
</div>
