<div class="flex flex-col bg-100 p-4">
  <div
    class="flex flex-row items-center gap-4 w-full max-w-4xl mx-auto"
    [formGroup]="form"
  >
    <div class="flex-1 flex flex-col">
      <label for="target">Target Code</label>
      <p-dropdown
        [options]="data"
        [loading]="!data.length"
        formControlName="target"
        optionLabel="targetCode"
        optionValue="id"
        placeholder="Select a Target"
        inputId="target"
        class="w-full"
      ></p-dropdown>
    </div>

    <div class="flex-1 flex flex-col">
      <label for="dateRange">Date</label>
      <p-calendar
        formControlName="dateRange"
        selectionMode="range"
        [iconDisplay]="'input'"
        [showIcon]="true"
        placeholder="Select Date Range"
        styleClass="w-full"
      ></p-calendar>
    </div>
  </div>

  <!-- Charts -->
  <div *ngIf="selectedUser" class="flex flex-col gap-4 p-2">
    <div class="flex flex-col flex-grow">
      <h3 class="text-lg font-bold text-center">Most Visited</h3>
      <p-chart
        type="bar"
        [data]="mostVisitedChartData"
        [options]="chartOptions"
      ></p-chart>
    </div>

    <div class="flex flex-col flex-grow">
      <h3 class="text-lg font-bold text-center">Protocols Used</h3>
      <p-chart
        type="bar"
        [data]="appProtocolUsedData"
        [options]="chartOptions"
      ></p-chart>
    </div>

    <div class="flex flex-col flex-grow">
      <h3 class="text-lg font-bold text-center">Ports Used</h3>
      <p-chart
        type="bar"
        [data]="appPortUsedData"
        [options]="chartOptions"
      ></p-chart>
    </div>
  </div>
</div>
