<div class="flex flex-col bg-100 p-4">
  <div
    class="flex flex-row items-center gap-4 w-full max-w-4xl mx-auto"
    [formGroup]="form"
  >
    <!-- User Dropdown -->
    <div class="flex-1 flex flex-col">
      <label for="target" class="block text-sm font-medium text-gray-700 mb-2">
        Target
      </label>
      <p-dropdown
        [options]="data"
        [loading]="!data.length"
        formControlName="target"
        optionLabel="name"
        optionValue="id"
        placeholder="Select a Target"
        inputId="target"
        class="w-full"
      ></p-dropdown>
    </div>

    <!-- Date Range Picker -->
    <div class="flex-1 flex flex-col">
      <label
        for="dateRange"
        class="block text-sm font-medium text-gray-700 mb-2"
        >Date</label
      >
      <p-calendar
        formControlName="dateRange"
        selectionMode="range"
        [showIcon]="true"
        placeholder="Select Date Range"
        class="w-full p-0 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 bg-transparent text-sm"
        styleClass="w-full"
      ></p-calendar>
    </div>
  </div>

  <!-- Charts -->
  <div *ngIf="selectedUser">
    <!-- Most Visited Sites -->
    <div class="chart-section mt-8">
      <h3 class="text-lg font-bold mb-4">Most Visited</h3>
      <p-chart
        type="bar"
        [data]="mostVisitedChartData"
        [options]="chartOptions"
        styleClass="custom-chart"
      ></p-chart>
    </div>

    <!-- App Used -->
    <div class="chart-section mt-8">
      <h3 class="text-lg font-bold mb-4">App Used</h3>
      <p-chart
        type="bar"
        [data]="appUsedChartData"
        [options]="chartOptions"
        styleClass="custom-chart"
      ></p-chart>
    </div>

    <!-- User Agent -->
    <div class="chart-section mt-8">
      <h3 class="text-lg font-bold mb-4">User Agent</h3>
      <p-chart
        type="bar"
        [data]="appUserAgentData"
        [options]="chartOptions"
        styleClass="custom-chart"
      ></p-chart>
    </div>
  </div>
</div>
