<div id="dialog-header" class="flex flex-col h-full">
  <form
    class="flex flex-col h-full"
    [formGroup]="analyzeForm"
    (ngSubmit)="launchAnalyze()"
  >
    <div class="flex-1 flex flex-col">
      <div class="form-group">
        <input
          autocomplete="off"
          type="text"
          id="name"
          placeholder="Enter query name"
          formControlName="name"
        />
      </div>
      <div class="flex-1">
        <!-- (firstDataRendered)="onFirstDataRendered($event)" -->
        <ag-grid-angular
          class="ag-theme-alpine w-full h-full"
          [columnDefs]="gridOptions.columnDefs"
          [defaultColDef]="gridOptions.defaultColDef"
          [rowHeight]="gridOptions.rowHeight"
          [rowData]="rowData"
          [rowSelection]="'multiple'"
          [rowMultiSelectWithClick]="true"
          (gridReady)="onGridReady($event)"
          (selectionChanged)="onSelectionChanged()"
        ></ag-grid-angular>
      </div>
    </div>
    <div class="dialog-actions flex justify-end mt-4">
      <button type="button" class="btn-primary-xs" (click)="close()">
        Cancel
      </button>
      <button
        type="submit"
        class="btn-primary-xs"
        [disabled]="analyzeForm.invalid"
      >
        Launch
      </button>
    </div>
  </form>
</div>
