@use "@ag-grid-community/styles" as ag;
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/aura-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@include ag.grid-styles(
  (
    theme: alpine,
  )
);

// @include mat.core();

/* You can add global styles to this file, and also import other style files */
// @tailwind base;
// @tailwind components;
// @tailwind utilities;
//@import '../node_modules/@syncfusion/ej2/tailwind.scss';
// @import '../node_modules/@syncfusion/ej2-tailwind-theme/styles/customized/tailwind.css'; last
//@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';

@layer base {
  @font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/SegoeUI-Light.woff2) format("woff2");
  }

  @font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/SegoeUI-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/SegoeUI-Italic.woff2) format("woff2");
  }

  @font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/assets/fonts/SegoeUI-SemiBold.woff2) format("woff2");
  }

  @font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/SegoeUI-Bold.woff2) format("woff2");
  }

  @font-face {
    font-family: "Segoe UI";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/SegoeUI-BoldItalic.woff2) format("woff2");
  }

  html,
  body {
    @apply h-full overscroll-x-none;
    --font-family: "Segoe UI";
  }

  :root {
    --color-text-base: 17, 24, 39;
    --color-text-muted: 148, 163, 184;
    --color-fill: 243, 244, 246;
    --color-inverted: 246, 173, 85;
    --color-sidebar: 107, 114, 128;
    --color-login: 100, 116, 139;
    --color-textarea: 203, 213, 225;
    --color-primary: 251, 146, 60;
    --color-primary-hover: 229, 128, 49;
    --color-secondary: 14, 165, 233;
    --color-secondary-hover: 3, 105, 161;
    --color-disabled: 212, 212, 212;
    --color-inverted: 255, 255, 255;
    --color-header: 148, 163, 184;
    --color-light: 250, 250, 250;
    --color-label: 156, 163, 175;
    --color-input-focus: 246, 173, 85;
    --color-border-base: 255, 255, 255;
    --color-border-inverted: 115, 115, 115;
  }

  .theme-swiss {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 254, 202, 202;
    --color-text-inverted: 115, 115, 115;
    --color-fill: 0, 0, 0;
    --color-inverted: 246, 173, 85;
    --color-sidebar: 55, 65, 81;
    --color-widget: 71, 85, 105;
    --color-login: 51, 65, 85;
    --color-textarea: 203, 213, 225;
    --color-button-accent: 246, 173, 85;
    --color-button-muted: 250, 250, 250;
    --color-button-disabled: 212, 212, 212;
    --color-label: 156, 163, 175;
    --color-input-focus: 246, 173, 85;
    --color-border-base: 255, 255, 255;
    --color-border-inverted: 115, 115, 115;
  }
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.62rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 600;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: 600;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 700;
}

@layer components {
  button {
    &:not(.load) .load-icon {
      @apply hidden;
    }

    &.load .load-icon {
      @apply block mr-2;
    }
  }

  button.btn-icon {
    @apply bg-white text-gray-50 px-1 py-1 flex items-center justify-center rounded-lg border border-slate-300 text-sm/tight font-bold hover:bg-gray-100 cursor-pointer select-none shadow-md disabled:opacity-35 disabled:cursor-not-allowed disabled:hover:bg-gray-500 gap-x-2;
  }

  button.btn-primary-xs {
    @apply bg-teal-400 text-gray-50 px-2 py-1 flex items-center justify-center rounded-lg text-sm/tight font-bold hover:bg-teal-500 cursor-pointer select-none shadow-md disabled:opacity-35 disabled:cursor-not-allowed disabled:bg-gray-500 gap-x-2;
  }

  button.cfm-btn-primary-small {
    @apply bg-teal-400 text-gray-50 px-8 py-2 inline-flex items-center justify-center rounded-lg text-sm/tight font-bold hover:bg-teal-500 cursor-pointer select-none shadow-md disabled:opacity-35 disabled:cursor-not-allowed disabled:hover:bg-gray-500;
  }

  button.btn-primary-small {
    @apply my-2 bg-teal-400 text-gray-50 px-4 py-2 flex items-center justify-center rounded-lg text-sm/tight font-bold hover:bg-teal-500 cursor-pointer select-none shadow-md disabled:opacity-35 disabled:cursor-not-allowed disabled:hover:bg-green-300 gap-x-2;
  }

  button.btn-dialog-primary {
    @apply bg-teal-400 text-gray-50 w-full h-10 flex items-center justify-center rounded-lg text-sm/tight font-bold min-h-[36px]
    hover:bg-teal-300 hover:text-white cursor-pointer select-none shadow-md 
    disabled:bg-white disabled:text-teal-400 disabled:border-teal-400 disabled:border disabled:cursor-not-allowed 
    disabled:hover:text-teal-400 disabled:hover:bg-white gap-x-2;
  }

  button.btn-dialog-secondary {
    @apply border-red-600 bg-white text-red-600 w-full h-10 flex items-center justify-center rounded-lg text-sm/tight font-bold 
    hover:bg-red-600 hover:text-white select-none shadow-md 
    disabled:bg-white disabled:text-red-600 disabled:border-red-600 disabled:border disabled:cursor-not-allowed 
    disabled:hover:text-red-600 disabled:hover:bg-white gap-x-2;
  }

  button.btn-primary {
    @apply bg-teal-400 text-gray-50 px-6 py-4 flex items-center justify-center rounded-lg text-lg font-bold hover:bg-teal-300 cursor-pointer select-none shadow-md disabled:opacity-35 disabled:cursor-not-allowed disabled:hover:bg-gray-500 gap-x-2;
  }

  button.btn-secondary-small {
    @apply my-2 bg-onyx-600 text-gray-50 px-4 py-2 flex items-center justify-center rounded-lg text-sm/tight font-bold hover:bg-onyx-300 cursor-pointer select-none shadow-md disabled:opacity-35 disabled:cursor-not-allowed disabled:hover:bg-gray-500 gap-x-2;
  }

  button.btn-inverse-small {
    @apply my-2 bg-white text-onyx-600 px-4 py-2 flex items-center justify-center rounded-lg border border-black text-sm/tight font-bold hover:bg-gray-100 cursor-pointer select-none shadow-md disabled:opacity-35 disabled:cursor-not-allowed disabled:hover:bg-gray-100 gap-x-2;
  }

  button.btn-secondary {
    @apply bg-onyx-600 text-gray-50 px-6 py-4 flex items-center justify-center rounded-lg text-lg font-bold hover:bg-onyx-300 cursor-pointer select-none shadow-md disabled:opacity-35 disabled:cursor-not-allowed disabled:hover:bg-gray-500 gap-x-2;
  }

  button.cfm-btn-danger-small {
    @apply bg-red-600 text-gray-50 px-8 py-2 inline-flex items-center justify-center rounded-lg text-sm/tight font-bold hover:bg-red-700 cursor-pointer select-none shadow-md disabled:opacity-35 disabled:cursor-not-allowed disabled:hover:bg-gray-500;
  }

  button.btn-danger-small {
    @apply my-2 bg-red-600 text-gray-50 px-4 py-2 flex items-center justify-center rounded-lg text-sm/tight font-bold hover:bg-red-700 cursor-pointer select-none shadow-md disabled:opacity-35 disabled:cursor-not-allowed disabled:hover:bg-gray-500 gap-x-2;
  }

  button.btn-danger {
    @apply bg-red-600 text-gray-50 px-6 py-4 flex items-center justify-center rounded-lg text-lg font-bold hover:bg-red-700 cursor-pointer select-none shadow-md disabled:opacity-35 disabled:cursor-not-allowed disabled:hover:bg-gray-500 gap-x-2;
  }

  span.badge-success {
    @apply bg-green-100 text-green-400 text-base font-semibold me-2 px-2.5 py-0.5 rounded border border-green-400;
  }

  span.badge-warning {
    @apply bg-yellow-100 text-brown-500 text-base font-semibold me-2 px-2.5 py-0.5 rounded border border-brown-500;
  }

  span.badge-danger {
    @apply bg-red-50 text-red-600 text-base font-semibold me-2 px-2.5 py-0.5 rounded border border-red-600;
  }

  span.badge-disabled {
    @apply bg-gray-100 text-gray-500 text-base font-semibold me-2 px-2.5 py-0.5 rounded border border-gray-500;
  }

  span.badge-danger {
    @apply bg-indigo-100 text-indigo-600 text-base font-semibold me-2 px-2.5 py-0.5 rounded border border-indigo-600;
  }

  input[type="radio"].fInput {
    @apply appearance-none w-6 h-6 relative after:absolute after:h-full after:w-full after:top-0 after:left-0 after:border after:border-black after:rounded-full before:hidden checked:before:absolute checked:before:block before:h-4 before:w-4 before:top-1 before:left-1 before:rounded-full before:bg-green-50;
  }

  button.app-card {
    @apply shadow-md flex items-center justify-center bg-teal-300 text-gray-50 font-bold text-2xl/tight px-2 disabled:bg-gray-200 disabled:hover:transform-none disabled:text-gray-300 hover:scale-110 duration-300 h-28 w-44 rounded-3xl flex-shrink-0 select-none;
  }

  .card-status {
    @apply rounded-xl flex flex-col px-4 py-3 min-w-20 h-full;

    &.light {
      @apply border border-gray-200;
    }

    &.highlight {
      @apply bg-gray-200;
    }

    &.activate {
      @apply bg-green-50;
    }

    &.not-activate {
      @apply bg-red-500;
    }
  }

  .btn {
    @apply hover:shadow-lg flex items-center justify-center bg-skin-primary hover:bg-skin-primary-hover text-skin-inverted font-bold py-2 px-5 disabled:bg-skin-disabled disabled:hover:bg-skin-disabled duration-300 rounded-lg;
  }

  // .btn-secondary {
  //   @apply hover:shadow-lg flex items-center justify-center bg-skin-secondary hover:bg-skin-secondary-hover text-skin-inverted font-bold py-2 px-5
  //     disabled:bg-skin-disabled disabled:hover:transform-none duration-300 rounded-lg;
  // }

  .btn-light {
    @apply hover:shadow-lg flex items-center justify-center text-skin-base font-bold py-2 px-5 bg-skin-light disabled:bg-skin-disabled disabled:hover:transform-none duration-300 rounded-lg mr-2;
  }

  .card-last-activities {
    @apply shadow-md flex flex-col bg-teal-300 text-white font-semibold text-lg px-6 py-4 disabled:bg-skin-disabled disabled:hover:transform-none hover:scale-110 duration-300 w-44 rounded-3xl flex-shrink-0 select-none cursor-pointer relative;
  }

  .card-last-activities button.trash {
    @apply absolute top-4 right-4 outline-none;
  }

  .whatsup {
    @apply relative;
  }

  .whatsup .whatsup--badge {
    @apply absolute inline-flex items-center justify-center p-[2px] text-sm font-bold text-gray-50 bg-gray-600 rounded-full -top-2 -right-2;
  }

  textarea {
    @apply p-2;
  }

  .form-group {
    @apply relative w-full mb-2;
  }

  .form-group input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 40px white inset !important;
  }

  .form-group input,
  .form-group textarea {
    @apply outline-none w-full border-b-2 border-gray-200 focus:border-orange-400 px-2 pb-2 pt-3 bg-inherit;
  }

  .form-group input:disabled,
  .form-group textarea:disabled {
    @apply pl-0 bg-transparent;
  }

  .form-group input:disabled + label,
  .form-group textarea:disabled + label {
    @apply left-0;
  }

  .form-group label {
    @apply absolute top-1/4 left-2 text-gray-400 duration-300 ease-out;
  }

  .form-group input:not(:placeholder-shown) + label,
  .form-group input:focus + label {
    @apply top-0 text-orange-400 text-xs;
  }

  .form-light .form-group {
    @apply mb-1;
  }

  .form-light .form-group input,
  .form-light .form-group textarea {
    @apply pb-0;
  }

  .form-light .form-group input:disabled:placeholder-shown + label,
  .form-light .form-group textarea:disabled:placeholder-shown + label {
    @apply italic;
  }

  .p-dropdown,
  .p-multiselect,
  .p-inputtextarea {
    @apply w-full border border-gray-200 rounded-lg my-2;
  }

  .p-dropdown .p-inputtext:not(span) {
    @apply w-full border-0 m-0;
  }

  label {
    font-weight: 600;
    width: 100%;
  }

  input {
    @apply px-3 py-2 border border-gray-200 rounded-lg w-full my-2;
  }

  *:is(.p-inputgroup-addon) {
    color: #64748b;
    border-top: 1px solid #cbd5e1;
    border-left: 1px solid #cbd5e1;
    border-bottom: 1px solid #cbd5e1;
    padding: 0.5rem 0.75rem;
    @apply border-gray-100 bg-gray-100;
  }

  .p-inputgroup .p-float-label:first-child input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    @apply border border-gray-100;
  }

  .icon-warning {
    background-image: url(/assets/icons/warning.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
}

.toggle-path {
  transition: background 0.3s ease-in-out;
}

.toggle-circle {
  @apply top-[0.2rem] left-[0.25rem] transition-all duration-300 ease-in-out;
}

.toggleButton input:checked ~ .toggle-circle {
  @apply bg-orange-300 translate-x-full;
  //transform: translateX(100%);
}

.toggleButton input ~ .toggle-circle {
  @apply bg-gray-400 translate-x-0;
  //transform: translateX(100%);
}

// .e-grid .e-gridcontent, .e-grid [class^=e-], e-control [class^=e-], .e-grid .e-rowcell:not(.e-editedbatchcell):not(.e-updatedtd),
// .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn-text, .content  {
//   @apply bg-skin-fill text-skin-base;
// }

// button{
//   @apply border-skin-base text-skin-base hover:border-skin-inverted;
// }

.e-content {
  @apply scrollbar-thin scrollbar-thumb-neutral-500 scrollbar-track-neutral-100 scrollbar-thumb-rounded-full scrollbar-track-rounded-full;
}

.cdk-overlay-container {
  @apply fixed z-[1000];
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  @apply pointer-events-none top-0 left-0 h-full w-full;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  @apply opacity-100;
}

.cdk-overlay-dark-backdrop {
  @apply bg-black bg-opacity-[0.32];
}

.cdk-overlay-backdrop {
  @apply absolute top-0 bottom-0 left-0 right-0 z-[1000] pointer-events-auto opacity-0 transition-opacity duration-[400ms] ease-[cubic-bezier(0.25,0.8,0.25,1)];
  -webkit-tap-highlight-color: transparent;
}

.cdk-global-overlay-wrapper {
  @apply flex absolute z-[1000];
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  @apply pointer-events-none top-0 left-0 h-full w-full;
}

.cdk-overlay-pane {
  @apply absolute pointer-events-auto box-border z-[1000] flex max-w-full max-h-full;
}

//GRID AREA
.ag-theme-alpine .ag-row-selected {
  @apply bg-gray-300;
}

.ag-theme-alpine .ag-row,
.ag-theme-alpine,
.ag-theme-alpine span {
  font-size: 1rem !important;
  /* 16px */
  // line-height: 1rem !important;
  /* 24px */
}

.ag-thme-no-header .ag-header {
  min-height: 0px !important;
  height: 0px !important;
  border: none !important;
}

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer primeng;

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@import "assets/css/override";

//toast message for multi lines
.p-toast-summary {
  white-space: pre-line;
}

.p-float-label .p-inputwrapper-focus ~ label.nostatic,
.p-float-label .p-inputwrapper-filled ~ label.nostatic,
.p-float-label input.p-filled ~ label.nostatic,
.p-float-label input:focus ~ label.nostatic,
.p-float-label textarea:focus ~ label.nostatic,
.p-float-label textarea.p-filled ~ label.nostatic {
  text-transform: uppercase;
  top: -0.6rem;
}

/* float label for Profile in step 1*/
.p-float-container .p-inputwrapper-focus ~ label.nostatic,
.p-float-container .p-inputwrapper-filled ~ label.nostatic {
  top: -1.7rem;
  left: 10px;
  font-size: 1rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  text-transform: uppercase;
}

/* Position the label inside the .p-float-container container */
.p-float-container label.static,
.p-float-container label.nostatic {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 50%;
  margin-top: -0.6rem;
  transition: all 0.2s ease;
  pointer-events: none;
  line-height: 1;
  color: #64748b;
}

/* Make the .p-float-container the relative container */
.p-float-container {
  position: relative;
  /* This makes the container the reference for the label */
}

.p-float-container label.static {
  top: -0.5em;
  left: 12px;
  font-size: 1rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  text-transform: uppercase;
}

app-provisioning2 {
  width: 100%;
}

.p-tooltip-top .p-tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -0.25rem;
  border-width: 0.25em 0.25em 0 !important;
}

.p-tooltip.p-tooltip-top .p-tooltip-arrow {
  border-top-color: #334155;
}

.p-tooltip-arrow {
  scale: 2;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.p-accordion .p-accordion-header,
.p-accordion .p-accordion-content,
.p-accordion .p-accordion-tab,
.p-accordion .p-accordion-header-link {
  border-radius: 0px !important;
}

// confirmation buttons
.p-dialog-footer {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px;
}

.p-button-label {
  font-weight: 700;
}

/* Success Toast - Green */
.p-toast-message.p-toast-message-success .p-toast-message-content,
.p-toast-message.p-toast-message-success .p-toast-message-icon {
  @apply text-green-300;
}

/* Info Toast - Blue */
.p-toast-message.p-toast-message-info .p-toast-message-content,
.p-toast-message.p-toast-message-info .p-toast-message-icon {
  @apply text-blue-600;
}

/* Warning Toast - Yellow */
.p-toast-message.p-toast-message-warn .p-toast-message-content,
.p-toast-message.p-toast-message-warn .p-toast-message-icon {
  @apply text-brown-500;
}

/* Error Toast - Red */
.p-toast-message.p-toast-message-error .p-toast-message-content,
.p-toast-message.p-toast-message-error .p-toast-message-icon {
  @apply text-red-500;
}

//dialog
#dialog-header {
  @apply p-4 rounded-2xl bg-white h-full;
}

.dialog-form .p-dialog-header,
.dialog-form .p-dialog-content {
  @apply bg-gray-100;
}

.dialog-form .p-dialog-header {
  @apply pb-2;
}

.dialog-form .dialog-content {
  display: flex;
  flex-direction: column;
}

#dialog-header .content {
  flex: 1 1 auto;
  overflow: auto;
}

ul.p-treenode-children {
  padding-left: 25px;
}

.p-treenode-content.p-treenode-selectable.p-highlight {
  @apply bg-teal-400 text-white;
}
